<div class="navbar default">
  <div class="navbar-header">
    <div class="container">
      <div class="basic-wrapper"> <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
        <div class="navbar-brand"><a href="/"><img src="style/images/logo.png" alt="" data-src="style/images/logo.png" data-ret="style/images/logo@2x.png" class="retina" /></a></div>
      </div>
      <nav class="collapse navbar-collapse pull-right">
        <ul class="nav navbar-nav">
          <li><a href="/">News</a></li>
          <li class=""><a href="/create" class="">Create</a></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Contact</a></li>



          <!--/social-dropdown -->
        </ul>
        <!--/.navbar-nav -->
      </nav>
      <!--/.nav-collapse -->
    </div>
    <!--/.container -->
  </div>
  <!--/.navbar-header -->
</div>
<!--/.navbar -->
<div class="offset"></div>
<div class="dark-wrapper page-title">
  <div class="container inner">
    <h1> 24/7 Breaking News - All Day, Every Day! </h1>
  </div>
  <!--/.container -->
</div>
